body {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    height: 100vh;
    color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
}

.wrapper {
    gap: 0 20vw;
    place-items: center;
    display: flex;
}

.text-wrapper {
    height: 20vh;
    width: 30vw;
    position: relative;
}

.typing {
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
}
.typing span {
    color: #fff;
}

.card-groups,
.card-group,
.card {
    aspect-ratio: 5 / 7;
}

.card-groups,
.card-group,
.big-card {
    width: 30vmin;
}

.card-group {
    position: absolute;
    transition: transform 400ms ease;
}

.card {
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    transition: transform 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);

    background-position: center;
    background-size: cover;
}

.big-card {
    border-radius: 1vmin;
}

.little-card {
    width: 12vmin;
    border-radius: 2vmin;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.25);
    pointer-events: none;
}

.big-card:nth-child(2) {
    background-image: url('./pictures/fourtPhoto.png');
    transform: translateX(-10%) rotate(-1deg);
}

.big-card:nth-child(4) {
    transform: rotate(2deg);
    background-image: url('./pictures/fifthPhoto.jpg');
}

.big-card:nth-child(6) {
    background-image: url('./pictures/eightPhoto.jpg');
    transform: translateX(-6%) rotate(-3deg);
}

.big-card:nth-child(8) {
    background-image: url('./pictures/thirdPhoto.png');
    transform: translate(10%, 3%) rotate(5deg);
}

.little-card:nth-child(1) {
    background-image: url('./pictures/seventhPhoto.jpg');
}

.little-card:nth-child(3) {
    background-image: url('./pictures/secondPhoto.jpg');
}

.little-card:nth-child(5) {
    background-image: url('./pictures/firstPhoto.png');
}

.little-card:nth-child(7) {
    background-image: url('./pictures/sixthPhoto.jpg');
}

@keyframes rotateBigCard2 {
    0% {
        transform: translateX(-10%) rotate(-1deg);
    }

    50% {
        transform: translate(-75%, 16%) rotate(-24deg);
    }

    100% {
        transform: translateX(-10%) rotate(-1deg);
    }
}

@keyframes rotateBigCard4 {
    0% {
        transform: rotate(2deg);
    }

    50% {
        transform: translate(-25%, 8%) rotate(-8deg);
    }

    100% {
        transform: rotate(2deg);
    }
}

@keyframes rotateBigCard6 {
    0% {
        transform: translateX(-6%) rotate(-3deg);
    }

    50% {
        transform: translate(25%, 8%) rotate(8deg);
    }

    100% {
        transform: translateX(-6%) rotate(-3deg);
    }
}

@keyframes rotateBigCard8 {
    0% {
        transform: translate(10%, 3%) rotate(5deg);
    }

    50% {
        transform: translate(75%, 16%) rotate(24deg);
    }

    100% {
        transform: translate(10%, 3%) rotate(5deg);
    }
}

@keyframes rotateLittleCard1 {
    0% {
        transform: translate(0%) rotate(0deg);
    }

    50% {
        transform: translate(200%, -160%) rotate(-15deg);
    }

    100% {
        transform: translate(0%) rotate(0deg);
    }
}

@keyframes rotateLittleCard3 {
    0% {
        transform: translate(0%) rotate(0deg);
    }

    50% {
        transform: translate(160%, 170%) rotate(15deg);
    }

    100% {
        transform: translate(0%) rotate(0deg);
    }
}

@keyframes rotateLittleCard5 {
    0% {
        transform: translate(0%) rotate(0deg);
    }

    50% {
        transform: translate(-200%, -170%) rotate(15deg);
    }

    100% {
        transform: translate(0%) rotate(0deg);
    }
}

@keyframes rotateLittleCard7 {
    0% {
        transform: translate(0%) rotate(0deg);
    }

    50% {
        transform: translate(-280%, 140%) rotate(-15deg);
    }

    100% {
        transform: translate(0%) rotate(0deg);
    }
}

.card-group > .big-card:nth-child(2) {
    animation: rotateBigCard2 4s infinite;
}

.card-group > .big-card:nth-child(4) {
    animation: rotateBigCard4 4s infinite;
}

.card-group > .big-card:nth-child(6) {
    animation: rotateBigCard6 4s infinite;
}

.card-group > .big-card:nth-child(8) {
    animation: rotateBigCard8 4s infinite;
}

.card-group > .little-card:nth-child(1) {
    animation: rotateLittleCard1 4s infinite;
}

.card-group > .little-card:nth-child(3) {
    animation: rotateLittleCard3 4s infinite;
}

.card-group > .little-card:nth-child(5) {
    animation: rotateLittleCard5 4s infinite;
}

.card-group > .little-card:nth-child(7) {
    animation: rotateLittleCard7 4s infinite;
}

@media (max-width: 768px) {
    .wrapper {
        width: 100vw;
        padding: 0 24px;
        gap: 15vh 0;
        flex-direction: column;
    }

    .text-wrapper {
        margin-top: 1rem;
        width: 100%;
    }

    .typing {
        font-size: 2rem;
    }
}
